/* Global Styles */

body {
  font-family: Helvetica;
  background-color: #f7f7f7;
  color: #333;
}

/* Updated container styles */
.container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
}

#list, #premiumList {
  width: 65%;
  float: right
}

#filters, #premSort {
  width: 30%;
  float:left
}
/* Header Styles */

.mainHeader {
  background-color: #1d05b5;
  font-weight: 1000;
  cursor: pointer;
  padding: 10px;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.header {
  background-color: #1d05b5;
  padding: 10px;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.header h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Navigation styles */
.navbar {
  font-size: 20px;
  background-color: #1d05b5;
  color: #fff;
  padding: 10px 20px;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-right: 10px;
}

.navbar .a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
  cursor: pointer;
}

.navbar a:hover {
  background-color: #fff;
  color: #333;
  border-radius: 4px;
}

.navbar #logout a {
  color: salmon;
  cursor: pointer;
}

/* Styling for filter buttons */
#dl1, #dl2, #dl3, #dl4, #dl5, #dl6 {
  font-weight: normal;
  display: inline-block;
  padding: 8px 4px;
  margin: 4px;
  background-color: #f2f2f2;
  color: #333;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#filters .decorated-label:hover, #premSort .pdecorated-label:hover {
  background-color: #ddd;
}

#filters .decorated-label.active, #premSort .pdecorated-label.active {
  background-color: #007bff;
  color: #fff;
}
/* Content Styles */

table {
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.listing {
  border-bottom: 1px solid #e6ecf0;
  padding: 10px 0;
}
.listingSort, #premiumSort {
  border-bottom: 1px solid #e6ecf0;
  padding: 10px 0;
}

.hotel, .room {
  font-weight: bold;
}

.content {
  colspan: 2;
  margin-top: 5px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #1da1f2;
}

/*Form styles*/

.form, #narrow, #premNarrow {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
}

.form label, 
#narrow label, 
#premNarrow label,
.calLab,
#ime {
  font-weight: bold;
}

.calLab {
  margin-top: 10px;
}

.form input[type="text"],
.form input[type="email"],
.form select,
#narrow input[type="text"],
#narrow input[type="email"],
#narrow select,
#premNarrow input[type="text"],
#premNarrow input[type="email"],
#premNarrow select {
  width: 94%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.hotel select {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#brojSoba {
  text-align: center
}

button {
  background-color: #1d05b5;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0069d9;
}

.form #range,
#narrow .rangeInputs,
#premNarrow .rangeInputs {
  width: 30%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Form container */
.login-form {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Form inputs */
.login-form input[type="text"],
.login-form input[type="password"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solifa-lightd #ccc;
  border-radius: 4px;
}

/* Form submit button */
.login-form input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.login-form button[type="submit"] {
  background-color: #1d05b5;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Form labels */
.login-form label {
  font-weight: bold;
  font-size: px;
}

/* Error message */
.login-form .error {
  color: red;
  margin-bottom: 10px;
}

/* Media queries */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}

/* Date styles */
.date-pickers {
  margin-top: 30px;
  position: relative;
  width: 100%;
}
.wrapper{
  position: absolute;
  bottom: 0;
  left: 0;
}
.box1 {
    float:left;
}
.box2 {
    margin-left: 50px;
    float:left;
}
.datePicker {
  /* Other styles for your pop-up calendars */
  position: absolute;
  display: none;
}


#datePicker1,
#datePicker2 {
  position: absolute;
  float: left;
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 10px;
}
#apply{
  float: left;
  margin-top: 10px;
}
#datePicker1 .close,
#datePicker2 .close {
  text-align: right;
  margin-bottom: 10px;
  cursor: pointer;
}
#x {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #ccc;
  color: white;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  user-select: none;
  transition: background-color 0.3s ease;
  background-color: #1d05b5;
  border-radius: 4px;
}

#x:hover {
  background-color: #0069d9;
}

#x:active {
  background-color: #0069d9;
}

#calendarContainer1,
#calendarContainer2 {
  max-height: 300px;
  overflow-y: auto;
}

.calendar-header1,
.calendar-header2 {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.calendar-header1 .prev-month1,
.calendar-header1 .next-month1,
.calendar-header2 .prev-month2,
.calendar-header2 .next-month2 {
  cursor: pointer;
}

#calTable1,
#calTable2 {
  width: 100%;
  border-collapse: collapse;
  display: inline-block;
}

#calTable1 th,
#calTable2 th {
  padding: 5px;
  text-align: center;
  font-weight: bold;
  background-color: #f2f2f2;
}

#calTable1 td,
#calTable2 td {
  padding: 5px;
  text-align: center;
  cursor: pointer;
}

#calTable1 td.date:hover,
#calTable2 td.date:hover {
  background-color: #f2f2f2;
}

.date.today {
  background-color: #e6f7ff;
}
