/* Global Styles */

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  color: #333;
}

/* Header Styles */

.header {
  background-color: #1d05b5;
  padding: 10px;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.header h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Navigation Styles */

nav {
  background-color: #ffffff;
  border-bottom: 1px solid #e6ecf0;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

nav a {
  color: #1da1f2;
  text-decoration: none;
}

#logout a {
  color: salmon;
}
/* Content Styles */

table {
  width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.listing {
  border-bottom: 1px solid #e6ecf0;
  padding: 10px 0;
}

.hotel {
  font-weight: bold;
}

.content {
  colspan: 2;
  margin-top: 5px;
}

a {
  color: #657786;
  text-decoration: none;
}

a:hover {
  color: #1da1f2;
}

/*Form styles*/

form {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
}

form label {
  font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #0069d9;
}
